// class for big titles

.font--headline{
  @include font-custom(700);
  @include font-size(130px);
  @include font-structure();
  @include font-spacing();
}

// class for section titles

.font--title{
  @include font-custom(700);
  @include font-size(55px);
  @include font-structure();
  @include font-spacing();
}

// class for subtitles

.font--subtitle{
  @include font-custom(300);
  @include font-size(32px);
  @include font-structure();
  @include font-spacing();
}

// class for descriptions

.font--description{
  @include font-custom(300);
  @include font-size(32px);
  @include font-structure();
  @include font-spacing();
}

// class for normal text, it's also the default value on body

.font--copy{
  @include font-custom(normal);
  @include font-size(20px);
  @include font-structure();
  @include font-spacing();
}

// class for sub descriptions

.font--sub{
  @include font-custom(700);
  @include font-size(15px);
  @include font-structure();
}

.font--color{
  span{
    color: #FFF;
    @include linear-gradient(#39f, 320, #39f, 0%, #50e1ff, 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}

.font--light{
  color: #FFF;
}

.font--dark{
  color: #000;
}
