.carousel--full{
  padding-left: 100px;
  overflow: hidden;
}

.carrossel-item {
    list-style: none;
    position: relative;
    outline: 0;
    cursor: pointer;

    margin-right: 1.8%;
    margin-top: 40px;
    margin-bottom: 40px;

    &:first-child {
        margin-left: 1.8%;
    }

    &:last-child {
        margin-right: 0
    }

    &:hover{
      .carrossel-item-container{
        @include transform(scale(1.02));
        @include box-shadow(0 18px 35px 0 rgba(0, 0, 0, 0.3));
      }
    }
}

.carousel-link{
  outline: 0;
  text-decoration: none;
  color: #000;
}

.carrossel-item-container{
  @include transition(all .2s ease);
}

.carrossel-item-image {
    width: 100%;
}

.carrossel-item-time {
    position: absolute;
    top: 15px;
    right: 23px;
    color: #fff;
    @include font-size(18px);
}

.carousel-item-icon{
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 5.5vw;
    @include transform(translateX(-50%));
    color: #fff;
    margin-top: 24.5%
}

.carrossel-item-title {
    margin-top: 20px;
}
