/* BASE */
@import "base/_base";

/* MODULES */
@import "modules/_modules";

/* COMPONENTS */
@import "components/_components";

/* VENDORS */
@import "vendors/_vendors";


body{
  font-family: $font-base;
  color: $textos;

}


.body--fixed{
  padding-top: 150px;
}

.container-flex{
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.container-fluid-flex{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}


// styles only for style guide's pages

.side-nav{
  background-color: $azul-fixa;
  width: 300px;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 70px;
  padding-left: 0;
  padding-bottom: 60px;
  list-style-type: none;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: fixed;

  .logo{
    margin-bottom: 40px;
  }
  li {
     float: none;
     line-height: 48px;
  }

  a{
    color: #FFF;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    text-decoration: none;
  }
}

.container{
  // padding-left: 100px;
}

.title-main{
  font-family: 'DINPro';
  font-weight: 700;
  font-size: 5em;
  line-height: 1.2;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin: 40px 0;

  span{
    background: #39f;
    background: -webkit-linear-gradient(320deg, #39f 0%, #60e198 100%);
    background: linear-gradient(130deg, #39f 0%, #60e198 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}



.styleguide-section{
  margin: 60px 0 40px;
}
.cards{
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  position: relative;
  margin: 40px 0;
  overflow: hidden;
}

.cards--dark{
  background-color: #000;
}

.cards-title{
  background-color: #333;
  font-size: 1.2em;
  padding: 20px;
  margin: 0;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}

.cards-container{
  padding: 30px 20px;
}

.cards-code{
  background-color: #f7f7f9;
  border-top: 1px solid #e1e1e8;
  padding: 20px;

  code{
    display: block;
    margin: 5px 0;
    line-height: 2.2;
    .nt {
      color: #2f6f9f;
    }
    .na {
      color: #4f9fcf;
    }
    .s {
      color: #d44950;
    }
  }
}

.color-items{
  padding: 30px;
  color: #FFF;
  width: 100%;
  margin: 10px 0;
}

.basic-items{
  padding: 30px 0;
}

.box{
  text-align: center;
  margin: 20px 0;
  border: 1px solid $linhas;
}
.box-content{
  position: relative;
  width: 100%;
  margin: auto;
  height: 80px;
  text-align: center;
  color: #FFF;
}

.box-content---color-value{
  right: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.box-content--icon-value{
  color: #000;
  right: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.box-value{
  padding: 10px;
  border-top: 1px solid $linhas;
}


.animation-container {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.animation-container .flip-content.clicked {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.animation-container .flip-content {
    margin: 0 auto;
    -webkit-transition: 0.7s cubic-bezier(0.23, 1.53, 0.97, 0.97);
    transition: 0.7s cubic-bezier(0.23, 1.53, 0.97, 0.97);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

.animation-container .flip-content, .animation-container .flip-front, .animation-container .flip-back {
    width: 200px;
    height: 200px;
}

.animation-container .flip-front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: #39f;
}
.animation-container .flip-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #5ED5A3;
}

.animation-container .flip-front, .animation-container .flip-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.animation-container .flip-content span {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.code-structure{
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 1;
    -o-tab-size: 1;
    tab-size: 1;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.card-container{
  align-items: stretch;
}



.card-item{
  h3{
    @include font-size(25px);
    color: #3399ff;
    @include font-custom(700);
    margin-bottom: 5vh;
  }
  a{
    color: #3399ff;
  }
  background-color: #FFF;
  padding: 38px;
  position: relative;
  width: 30%;
  box-shadow: 3px 7px 27px 3px rgba(35, 161, 248, 0.15);
}

.card--action{
  padding-bottom: 100px;
}

.card-action{
  position: absolute;
  left: 38px;
  right: 38px;
  bottom: 38px;
}

// @mixin full-image($url){
//   background-image: url("../images/headers/"#{$url}),linear-gradient(to right, #5c6573 0%, #5b6678 100%);
// }

@mixin banner-full-height($img-path){
  background: url("../images/#{$img-path}") no-repeat fixed center 0 transparent;
  background-size: cover;
  height: 100vh;
}

.page-head--hero{
  @include banner-full-height('temp/banner-hero.jpg');
  padding: 10vh 0;
  position: relative;;

  .font--color{
    margin-bottom: 4vh;
  }

  .font--headline{
    @include font-size(92px);
    padding-top: 60px;
  }

  .font--subtitle{
    @include font-size(23px);
    line-height: 1.5;
  }

  p{
    margin-top: 20px;
  }

  .btn{
    margin-top: 2vh;
  }
}

.page-head-container{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.banner-full{
  @include banner-full-width("temp/banner-full.jpg");

  .font--title{
    margin-bottom: 5vh;
  }
  .btn{
    margin-top: 5vh;
  }
}

.section{
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.svg-container{
  position: relative;

  svg{
    position: absolute;
    z-index: 1;
  }
  .section-cards{
    position: relative;
    z-index: 2;
  }

  &.animation{
    .lines{
        animation: dash 1s linear forwards;
      }
    }
  }


.lines
{
	stroke-dasharray:2300;
	stroke-dashoffset:2300;
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.sticky-wrapper{
  z-index: 3;
  position: relative;
}

.filter{
  background-color: #FFF;
  overflow: hidden;
}

.filter-bar{
  border-bottom: 1px solid #d7e3fc;
  position: relative;
  z-index: 2;
  background-color: #FFF;

  .form-simulation-name{
    @include font-size(23px);
  }
  .form-simulation-value{
    @include font-size(23px);
  }
  .form-simulation--inline .selectric .label{
    @include font-size(23px);
  }
}
.filter-bar-item:nth-child(1){
  width: 12%;
}
.filter-bar-item:nth-child(2){
  width: 73%;
}
.filter-bar-item:nth-child(3){
  width: 15%;
}

.filter-category-action{
  &:focus{
    outline: none;
  }
}
.filter-category-action--icon{
  width: 100%;
  height: 100%;
  padding: 40px 70px;
  display: block;
  position: relative;

  &:before{
    content: "";
    background: url(../images/temp/icons.png) no-repeat scroll -9px -133px transparent;
    width: 30px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -10px;
  }
}


.filter-options{
  padding: 100px 0;
  box-shadow: 3px 7px 27px 3px rgba(35, 161, 248, 0.15);
  background-color: #FFF;
  transform: translateY(-100%);
  transition: all 0.5s linear;

  &.opened{
    transform: translateY(0);
  }
}

.filter-options-box-name{
  @include font-size(15px);
  @include font-custom(700);
  text-transform: uppercase;
  color: #3a9bfc;
  margin-bottom: 20px;
}
.filter-options-item{
  display: inline-block;
  margin-left: -3px;
}
.filter-options-btn{
  background-color: #f5f5f5;
  width: 130px;
  height: 130px;
  color: #3a9bfc;
  border: none;
  position: relative;
  cursor: pointer;
  top: 0;
  @include transition (all 0.2s cubic-bezier(0, 1.23, 1, 1));

  &:hover{
    top: -3px;
    background-color: darken(#f5f5f5, 3%);
  }

  &:focus{
    outline: none;
  }

  &.selected{
    background-color: #3a9bfc;

    .filter-options-item-name{
      color: #FFF;
    }
  }
}
.filter-options-item-name{
  @include font-size(32px);
  @include font-custom(300);
  color: #3a9bfc;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.filter-option-item-sub{
  @include font-size(14px);
  display: block;
}

.filter-options-tags{
  margin: 40px auto 0;
  width: 90%;
  p{
    display: inline-block;
  }
  .filter-options-tags-items{
    display: inline-block;
  }
  span{
    border: 1px solid #3a9bfc;
    color: #3a9bfc;
    padding: 5px;
    margin: 0 6px;
    border-radius: 3px;
  }
}
