@charset "UTF-8";
/* BASE */
/* HELPERS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

address {
  font-style: normal; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
/* MODULES */
.navbar {
  padding: 30px 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0; }

.navbar--fixed {
  position: fixed; }

.navbar--dark {
  background-color: black; }
  .navbar--dark .navbar-nav-link {
    color: #a9a9a9; }
    .navbar--dark .navbar-nav-link:hover {
      color: #FFF; }
  .navbar--dark .navbar-link--animated:before {
    border-bottom: 2px solid #a9a9a9; }
  .navbar--dark .navbar-link--animated:hover:before {
    border-bottom: 2px solid #fff; }

.navbar--light {
  background-color: transparent; }
  .navbar--light .navbar-nav-link {
    color: #FFF; }
    .navbar--light .navbar-nav-link:hover {
      color: #FFF; }
  .navbar--light .navbar-link--animated:before {
    border-bottom: 2px solid #FFF; }
  .navbar--light .navbar-link--animated:hover:before {
    border-bottom: 2px solid #FFF; }

.navbar-brand {
  width: 20%; }

.navbar-nav {
  width: 60%;
  text-align: center; }

.navbar-actions {
  width: 20%; }

.navbar-nav-item {
  display: inline-block;
  padding: 0 50px; }

.navbar-link--animated:before {
  content: '';
  width: 10px;
  height: 100%;
  display: inline-block;
  position: absolute;
  bottom: -2px;
  left: -13px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.navbar-link--animated:hover:before {
  width: 100%;
  left: -1px; }

.navbar-nav-link {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "DINPro";
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.navbar-actions {
  text-align: right; }

.navbar-actions-link {
  background: url("../images/temp/icons.png") no-repeat scroll 0 0 transparent;
  width: 32px;
  height: 24px;
  display: block;
  background-size: 100%; }

.navbar-actions-search {
  background-position: center 0; }

.navbar-actions-message {
  background-position: center -26px; }

.navbar-actions-user {
  background-position: center -52px; }

.nav-inline-item {
  display: inline-block;
  margin-left: 20px; }

.nav-inline-link {
  color: #FFF;
  text-decoration: none; }

.footer-main {
  width: 100%;
  background: #000;
  position: relative;
  padding: 50px 0;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem; }

.footer-container {
  padding: 30px 0; }

.footer-container--border {
  border-bottom: 1px solid #4d4d4d; }

.footer-address-link {
  color: #FFF;
  text-decoration: none; }

.btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer; }
  .btn:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease; }
  .btn:hover:before {
    opacity: 1; }
  .btn:hover .btn-icon {
    right: -10px; }
  .btn .btn-text {
    z-index: 2;
    position: relative; }
  .btn .btn-icon {
    font-size: 13px;
    margin-left: 19px;
    z-index: 2;
    right: 0;
    position: relative;
    vertical-align: -1px;
    -webkit-transition: right .4s ease;
    transition: right .4s ease; }

.btn--border {
  border-width: 2px;
  border-style: solid; }
  .btn--border:before {
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px; }

.btn--lg {
  padding: 18px 50px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500; }

.btn--dark {
  background: transparent;
  color: #000;
  border-color: #000; }
  .btn--dark:before {
    background: #000; }
  .btn--dark:hover .btn-text {
    color: #FFF; }

.btn--blue {
  background: transparent;
  color: #64bdfa;
  border-color: #64bdfa; }
  .btn--blue:before {
    background: #64bdfa; }
  .btn--blue:hover .btn-text {
    color: #FFF; }

.btn--light {
  background: transparent;
  color: #FFF;
  border-color: #FFF; }
  .btn--light:before {
    background: #fff; }
  .btn--light:hover .btn-text {
    color: #000; }

.btn--primary {
  background: #3399ff;
  color: #FFF;
  border-color: #3399ff; }
  .btn--primary:before {
    background: #FFF; }
  .btn--primary:hover .btn-text {
    color: #3399ff; }

.btn--color {
  background-color: #39f;
  background-image: -webkit-linear-gradient(320deg, #39f 0%, #60e198 100%);
  background-image: -moz-linear-gradient(320deg, #39f 0%, #60e198 100%);
  background-image: -ms-linear-gradient(320deg, #39f 0%, #60e198 100%);
  background-image: -o-linear-gradient(320deg, #39f 0%, #60e198 100%);
  background-image: linear-gradient(320deg, #39f 0%, #60e198 100%);
  color: #FFF;
  border: none; }
  .btn--color:before {
    background: #000; }
  .btn--color:hover .btn-text {
    color: #FFF; }

.btn--color--blue {
  background-color: #37a3ff;
  background-image: -webkit-linear-gradient(130deg, #39f 0%, #4fdeff 100%);
  background-image: -moz-linear-gradient(130deg, #39f 0%, #4fdeff 100%);
  background-image: -ms-linear-gradient(130deg, #39f 0%, #4fdeff 100%);
  background-image: -o-linear-gradient(130deg, #39f 0%, #4fdeff 100%);
  background-image: linear-gradient(130deg, #39f 0%, #4fdeff 100%);
  color: #FFF;
  border: none; }
  .btn--color--blue:hover {
    background-color: #37a3ff;
    background-image: -webkit-linear-gradient(130deg, #39f 0%, #4fdeff 100%);
    background-image: -moz-linear-gradient(130deg, #39f 0%, #4fdeff 100%);
    background-image: -ms-linear-gradient(130deg, #39f 0%, #4fdeff 100%);
    background-image: -o-linear-gradient(130deg, #39f 0%, #4fdeff 100%);
    background-image: linear-gradient(130deg, #39f 0%, #4fdeff 100%); }

.form-simulation-item {
  position: relative; }

.form-simulation-name {
  font-size: 28px;
  font-size: 1.75rem;
  font-family: "DINPro";
  font-weight: 300; }

.form-simulation-value {
  font-family: "DINPro";
  font-weight: 700;
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -ms-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
  border: none;
  outline: 0;
  background-color: transparent; }

.form-simulation--light {
  color: #FFF; }
  .form-simulation--light .form-simulation-item ::-webkit-input-placeholder {
    color: #FFF; }
  .form-simulation--light .form-simulation-item :-moz-placeholder {
    color: #FFF; }
  .form-simulation--light .form-simulation-item ::-moz-placeholder {
    color: #FFF; }
  .form-simulation--light .form-simulation-item :-ms-input-placeholder {
    color: #FFF; }
  .form-simulation--light .form-simulation-value {
    color: #FFF; }
  .form-simulation--light.form-simulation--block .form-simulation-item {
    border-bottom: 2px solid #FFF; }
  .form-simulation--light.form-simulation--block .selectric .button:before {
    border-top-color: #FFF; }
  .form-simulation--light.form-simulation--inline .form-simulation-value {
    border-bottom: 1px solid #FFF; }
  .form-simulation--light.form-simulation--inline .selectric .button:before {
    border-top-color: #FFF; }

.form-simulation--dark {
  color: #000; }
  .form-simulation--dark .form-simulation-item ::-webkit-input-placeholder {
    color: #000; }
  .form-simulation--dark .form-simulation-item :-moz-placeholder {
    color: #000; }
  .form-simulation--dark .form-simulation-item ::-moz-placeholder {
    color: #000; }
  .form-simulation--dark .form-simulation-item :-ms-input-placeholder {
    color: #000; }
  .form-simulation--dark .form-simulation-value {
    color: #000; }
  .form-simulation--dark.form-simulation--block .form-simulation-item {
    border-bottom: 2px solid #000; }
  .form-simulation--dark.form-simulation--block .selectric .button:before {
    border-top-color: #000; }
  .form-simulation--dark.form-simulation--inline .form-simulation-value {
    border-bottom: 1px solid #000; }
  .form-simulation--dark.form-simulation--inline .selectric .button:before {
    border-top-color: #000; }

.form-simulation--block .form-simulation-item {
  margin: 36px 0; }
.form-simulation--block .form-simulation-name {
  position: absolute;
  left: 0;
  bottom: 8px; }
.form-simulation--block .form-simulation-value {
  font-size: 50px;
  font-size: 3.125rem;
  width: 100%;
  text-align: right; }
.form-simulation--block .selectric .label {
  font-size: 50px;
  font-size: 3.125rem;
  margin: 0 50px; }
.form-simulation--block .selectric .button {
  right: 0;
  margin-top: -5px; }
  .form-simulation--block .selectric .button:before {
    top: 6px;
    left: -5px;
    border: 10px solid transparent; }
.form-simulation--block .selectric-items li {
  font-size: 50px;
  font-size: 3.125rem;
  padding: 17px 74px; }

.form-simulation--inline .form-simulation-item {
  display: inline-block; }
.form-simulation--inline .form-simulation-value {
  font-size: 32px;
  font-size: 2rem;
  display: inline-block;
  margin-right: 10px; }
.form-simulation--inline .selectric-wrapper {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px; }
.form-simulation--inline .selectric .label {
  font-size: 32px;
  font-size: 2rem; }
.form-simulation--inline .selectric .button {
  right: -35px;
  margin-top: -10px; }
  .form-simulation--inline .selectric .button:before {
    top: 9px;
    left: -1px;
    border: 7px solid transparent;
    border-top-color: #000; }
.form-simulation--inline .selectric-items {
  top: -24px;
  right: -43px;
  width: 200px !important;
  height: 220px !important; }
  .form-simulation--inline .selectric-items li {
    font-size: 32px;
    font-size: 2rem;
    padding: 5px 45px 5px 20px; }

.selectric-wrapper {
  position: relative;
  cursor: pointer; }

.selectric {
  position: relative; }

.selectric-responsive {
  width: 100%; }

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0; }
  .selectric-hide-select .form-simulation-time {
    position: absolute;
    left: -100%; }
  .selectric-hide-select.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; }
    .selectric-hide-select.selectric-is-native .form-simulation-time {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0; }

.selectric .label {
  font-family: "DINPro";
  font-weight: 700;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectric .button {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 10px; }
  .selectric .button:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: none; }

.selectric-open {
  z-index: 9999; }
  .selectric-open .selectric-items {
    visibility: visible;
    opacity: 1; }

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important; }

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important; }

.selectric-items {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -19px;
  right: -31px;
  background: #fff;
  z-index: 0;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
  width: auto !important;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto; }
  .selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .selectric-items .selectric-group .selectric-group-label {
    font-weight: bold;
    padding-left: 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    color: #444; }
  .selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1; }
  .selectric-items .selectric-group li {
    padding-left: 25px; }

.selectric-above .selectric-items {
  top: auto;
  bottom: -20%; }

.selectric-items ul,
.selectric-items li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-weight: 600;
  line-height: 60px;
  min-height: 60px; }

.selectric-items ul {
  margin: 10px 0; }

.selectric-items li {
  display: block;
  color: #000;
  cursor: pointer; }
  .selectric-items li.selected {
    color: #000; }
  .selectric-items li.highlighted {
    color: #000; }
  .selectric-items li:hover {
    color: #4590db; }

.carousel--full {
  padding-left: 100px;
  overflow: hidden; }

.carrossel-item {
  list-style: none;
  position: relative;
  outline: 0;
  cursor: pointer;
  margin-right: 1.8%;
  margin-top: 40px;
  margin-bottom: 40px; }
  .carrossel-item:first-child {
    margin-left: 1.8%; }
  .carrossel-item:last-child {
    margin-right: 0; }
  .carrossel-item:hover .carrossel-item-container {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0 18px 35px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 18px 35px 0 rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 18px 35px 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 18px 35px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 18px 35px 0 rgba(0, 0, 0, 0.3); }

.carousel-link {
  outline: 0;
  text-decoration: none;
  color: #000; }

.carrossel-item-container {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.carrossel-item-image {
  width: 100%; }

.carrossel-item-time {
  position: absolute;
  top: 15px;
  right: 23px;
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem; }

.carousel-item-icon {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 5.5vw;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  margin-top: 24.5%; }

.carrossel-item-title {
  margin-top: 20px; }

.filter-results {
  width: 100%;
  display: inline-block; }
  .filter-results .filter-results-head {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px; }
    .filter-results .filter-results-head span {
      font-weight: bold;
      color: #888888;
      font-size: 15px;
      font-size: 0.9375rem; }
  .filter-results .filter-results-item {
    border-bottom: 1px solid #e6e6e6;
    padding: 60px 0px;
    width: 95%;
    margin: 0 auto; }
    .filter-results .filter-results-item.selected {
      width: 100%;
      -webkit-box-shadow: 3px 7px 27px 3px rgba(35, 161, 248, 0.15);
      -moz-box-shadow: 3px 7px 27px 3px rgba(35, 161, 248, 0.15);
      box-shadow: 3px 7px 27px 3px rgba(35, 161, 248, 0.15);
      border-bottom: none;
      padding: 60px 2.5%; }
      .filter-results .filter-results-item.selected + .filter-results-item {
        border-top: 1px solid #e6e6e6;
        margin-top: 50px; }
  .filter-results .filter-results-head-box {
    padding: 10px 15px;
    box-sizing: border-box; }
  .filter-results .filter-results-item-box {
    padding: 0px 15px;
    box-sizing: border-box;
    color: #000000;
    font-weight: 100;
    text-align: left;
    font-size: 32px;
    font-size: 2rem; }
  .filter-results .filter-results-head-box--logo,
  .filter-results .filter-results-item-box--logo {
    width: 10%;
    display: inline-block; }
  .filter-results .filter-results-head-box--investiment,
  .filter-results .filter-results-item-box--investiment {
    width: 28%;
    display: inline-block; }
  .filter-results .filter-results-item-box--investiment {
    font-weight: bold;
    color: #3399FF; }
  .filter-results .filter-results-head-box--duration,
  .filter-results .filter-results-item-box--duration {
    width: 10%;
    display: inline-block; }
  .filter-results .filter-results-head-box--profitability,
  .filter-results .filter-results-item-box--profitability {
    width: 20%;
    display: inline-block; }
  .filter-results .filter-results-head-box--balance,
  .filter-results .filter-results-item-box--balance {
    width: 20%;
    display: inline-block; }
  .filter-results .filter-results-head-box--actions,
  .filter-results .filter-results-item-box--actions {
    width: 10%;
    display: inline-block; }

/* COMPONENTS */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?uulmuy");
  src: url("../fonts/icomoon/icomoon.eot?uulmuy#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?uulmuy") format("truetype"), url("../fonts/icomoon/icomoon.woff?uulmuy") format("woff"), url("../fonts/icomoon/icomoon.svg?uulmuy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-article:before {
  content: "\e90c"; }

.icon-play:before {
  content: "\e90b"; }

.icon-arrow-full:before {
  content: "\e902"; }

.icon-facebook:before {
  content: "\e903"; }

.icon-google:before {
  content: "\e904"; }

.icon-hamburger:before {
  content: "\e905"; }

.icon-profile:before {
  content: "\e906"; }

.icon-radar:before {
  content: "\e907"; }

.icon-search:before {
  content: "\e908"; }

.icon-twitter:before {
  content: "\e909"; }

.icon-youtube:before {
  content: "\e90a"; }

.icon-graph:before {
  content: "\e901"; }

.icon-arrow:before {
  content: "\e900"; }

@font-face {
  font-family: 'DINPro';
  font-weight: 300;
  src: url("../fonts/din-pro/DINPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/din-pro/DINPro-Light.ttf") format("woff"), url("../fonts/din-pro/DINPro-Light.woff") format("svg"); }
@font-face {
  font-family: 'DINPro';
  font-weight: 400;
  src: url("../fonts/din-pro/DINPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/din-pro/DINPro-Regular.ttf") format("woff"), url("../fonts/din-pro/DINPro-Regular.woff") format("truetype"); }
@font-face {
  font-family: 'DINPro';
  font-weight: 500;
  src: url("../fonts/din-pro/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/din-pro/DINPro-Medium.ttf") format("woff"), url("../fonts/din-pro/DINPro-Medium.woff") format("svg"); }
@font-face {
  font-family: 'DINPro';
  font-weight: 700;
  src: url("../fonts/din-pro/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/din-pro/DINPro-Bold.ttf") format("woff"), url("../fonts/din-pro/DINPro-Bold.woff") format("svg"); }
@font-face {
  font-family: 'DINPro';
  font-weight: 900;
  src: url("../fonts/din-pro/DINPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/din-pro/DINPro-Black.ttf") format("woff"), url("../fonts/din-pro/DINPro-Black.woff") format("svg"); }
.font--headline {
  font-family: "DINPro";
  font-weight: 700;
  font-size: 130px;
  font-size: 8.125rem;
  line-height: 1.2;
  letter-spacing: -1.2px; }

.font--title {
  font-family: "DINPro";
  font-weight: 700;
  font-size: 55px;
  font-size: 3.4375rem;
  line-height: 1.2;
  letter-spacing: -1.2px; }

.font--subtitle {
  font-family: "DINPro";
  font-weight: 300;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -1.2px; }

.font--description {
  font-family: "DINPro";
  font-weight: 300;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -1.2px; }

.font--copy {
  font-family: "DINPro";
  font-weight: normal;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -1.2px; }

.font--sub {
  font-family: "DINPro";
  font-weight: 700;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.2; }

.font--color span {
  color: #FFF;
  background-color: #39f;
  background-image: -webkit-linear-gradient(320deg, #39f 0%, #50e1ff 100%);
  background-image: -moz-linear-gradient(320deg, #39f 0%, #50e1ff 100%);
  background-image: -ms-linear-gradient(320deg, #39f 0%, #50e1ff 100%);
  background-image: -o-linear-gradient(320deg, #39f 0%, #50e1ff 100%);
  background-image: linear-gradient(320deg, #39f 0%, #50e1ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.font--light {
  color: #FFF; }

.font--dark {
  color: #000; }

.azul-fixa {
  background-color: #3399FF; }

.verde-variavel {
  background-color: #5ED5A3; }

.rosa {
  background-color: #DB459D; }

.roxo {
  background-color: #902FEB; }

.baixo {
  background-color: #00FFF6; }

.alto {
  background-color: #F0BE48; }

.textos {
  background-color: #000000; }

.textos-alt {
  background-color: #888888; }

.linhas {
  background-color: #CCCCCC; }

.fundo-cinza {
  background-color: #F0F0F0; }

.gradient {
  background-color: #39f;
  background-image: -webkit-linear-gradient(320deg, #39f 0%, #60e198 100%);
  background-image: -moz-linear-gradient(320deg, #39f 0%, #60e198 100%);
  background-image: -ms-linear-gradient(320deg, #39f 0%, #60e198 100%);
  background-image: -o-linear-gradient(320deg, #39f 0%, #60e198 100%);
  background-image: linear-gradient(320deg, #39f 0%, #60e198 100%); }

/* VENDORS */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ""; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-loading .slick-list {
  background: #fff url("../images/temp/pacman.gif") center center no-repeat; }

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: "â†"; }

[dir='rtl'] .slick-prev:before {
  content: "â†’"; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: "â†’"; }

[dir='rtl'] .slick-next:before {
  content: "â†"; }

.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: 'â€¢';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

body {
  font-family: "DINPro";
  color: #000000; }

.body--fixed {
  padding-top: 150px; }

.container-flex {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.container-fluid-flex {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.side-nav {
  background-color: #3399FF;
  width: 300px;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 70px;
  padding-left: 0;
  padding-bottom: 60px;
  list-style-type: none;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: fixed; }
  .side-nav .logo {
    margin-bottom: 40px; }
  .side-nav li {
    float: none;
    line-height: 48px; }
  .side-nav a {
    color: #FFF;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    text-decoration: none; }

.title-main {
  font-family: 'DINPro';
  font-weight: 700;
  font-size: 5em;
  line-height: 1.2;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin: 40px 0; }
  .title-main span {
    background: #39f;
    background: -webkit-linear-gradient(320deg, #39f 0%, #60e198 100%);
    background: linear-gradient(130deg, #39f 0%, #60e198 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.styleguide-section {
  margin: 60px 0 40px; }

.cards {
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  position: relative;
  margin: 40px 0;
  overflow: hidden; }

.cards--dark {
  background-color: #000; }

.cards-title {
  background-color: #333;
  font-size: 1.2em;
  padding: 20px;
  margin: 0;
  color: #FFF;
  -webkit-font-smoothing: antialiased; }

.cards-container {
  padding: 30px 20px; }

.cards-code {
  background-color: #f7f7f9;
  border-top: 1px solid #e1e1e8;
  padding: 20px; }
  .cards-code code {
    display: block;
    margin: 5px 0;
    line-height: 2.2; }
    .cards-code code .nt {
      color: #2f6f9f; }
    .cards-code code .na {
      color: #4f9fcf; }
    .cards-code code .s {
      color: #d44950; }

.color-items {
  padding: 30px;
  color: #FFF;
  width: 100%;
  margin: 10px 0; }

.basic-items {
  padding: 30px 0; }

.box {
  text-align: center;
  margin: 20px 0;
  border: 1px solid #CCCCCC; }

.box-content {
  position: relative;
  width: 100%;
  margin: auto;
  height: 80px;
  text-align: center;
  color: #FFF; }

.box-content---color-value {
  right: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; }

.box-content--icon-value {
  color: #000;
  right: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; }

.box-value {
  padding: 10px;
  border-top: 1px solid #CCCCCC; }

.animation-container {
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.animation-container .flip-content.clicked {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.animation-container .flip-content {
  margin: 0 auto;
  -webkit-transition: 0.7s cubic-bezier(0.23, 1.53, 0.97, 0.97);
  transition: 0.7s cubic-bezier(0.23, 1.53, 0.97, 0.97);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer; }

.animation-container .flip-content, .animation-container .flip-front, .animation-container .flip-back {
  width: 200px;
  height: 200px; }

.animation-container .flip-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: #39f; }

.animation-container .flip-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #5ED5A3; }

.animation-container .flip-front, .animation-container .flip-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.animation-container .flip-content span {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.code-structure {
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 1;
  -o-tab-size: 1;
  tab-size: 1;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

.card-container {
  align-items: stretch; }

.card-item {
  background-color: #FFF;
  padding: 38px;
  position: relative;
  width: 30%;
  box-shadow: 3px 7px 27px 3px rgba(35, 161, 248, 0.15); }
  .card-item h3 {
    font-size: 25px;
    font-size: 1.5625rem;
    color: #3399ff;
    font-family: "DINPro";
    font-weight: 700;
    margin-bottom: 5vh; }
  .card-item a {
    color: #3399ff; }

.card--action {
  padding-bottom: 100px; }

.card-action {
  position: absolute;
  left: 38px;
  right: 38px;
  bottom: 38px; }

.page-head--hero {
  background: url("../images/temp/banner-hero.jpg") no-repeat fixed center 0 transparent;
  background-size: cover;
  height: 100vh;
  padding: 10vh 0;
  position: relative; }
  .page-head--hero .font--color {
    margin-bottom: 4vh; }
  .page-head--hero .font--headline {
    font-size: 92px;
    font-size: 5.75rem;
    padding-top: 60px; }
  .page-head--hero .font--subtitle {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1.5; }
  .page-head--hero p {
    margin-top: 20px; }
  .page-head--hero .btn {
    margin-top: 2vh; }

.page-head-container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.banner-full {
  background: url("../images/temp/banner-full.jpg") no-repeat fixed center center transparent;
  background-size: cover;
  width: 100%;
  padding: 10vh 0; }
  .banner-full .font--title {
    margin-bottom: 5vh; }
  .banner-full .btn {
    margin-top: 5vh; }

.section {
  padding-top: 10vh;
  padding-bottom: 10vh; }

.svg-container {
  position: relative; }
  .svg-container svg {
    position: absolute;
    z-index: 1; }
  .svg-container .section-cards {
    position: relative;
    z-index: 2; }
  .svg-container.animation .lines {
    animation: dash 1s linear forwards; }

.lines {
  stroke-dasharray: 2300;
  stroke-dashoffset: 2300; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
.sticky-wrapper {
  z-index: 3;
  position: relative; }

.filter {
  background-color: #FFF;
  overflow: hidden; }

.filter-bar {
  border-bottom: 1px solid #d7e3fc;
  position: relative;
  z-index: 2;
  background-color: #FFF; }
  .filter-bar .form-simulation-name {
    font-size: 23px;
    font-size: 1.4375rem; }
  .filter-bar .form-simulation-value {
    font-size: 23px;
    font-size: 1.4375rem; }
  .filter-bar .form-simulation--inline .selectric .label {
    font-size: 23px;
    font-size: 1.4375rem; }

.filter-bar-item:nth-child(1) {
  width: 12%; }

.filter-bar-item:nth-child(2) {
  width: 73%; }

.filter-bar-item:nth-child(3) {
  width: 15%; }

.filter-category-action:focus {
  outline: none; }

.filter-category-action--icon {
  width: 100%;
  height: 100%;
  padding: 40px 70px;
  display: block;
  position: relative; }
  .filter-category-action--icon:before {
    content: "";
    background: url(../images/temp/icons.png) no-repeat scroll -9px -133px transparent;
    width: 30px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -10px; }

.filter-options {
  padding: 100px 0;
  box-shadow: 3px 7px 27px 3px rgba(35, 161, 248, 0.15);
  background-color: #FFF;
  transform: translateY(-100%);
  transition: all 0.5s linear; }
  .filter-options.opened {
    transform: translateY(0); }

.filter-options-box-name {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "DINPro";
  font-weight: 700;
  text-transform: uppercase;
  color: #3a9bfc;
  margin-bottom: 20px; }

.filter-options-item {
  display: inline-block;
  margin-left: -3px; }

.filter-options-btn {
  background-color: #f5f5f5;
  width: 130px;
  height: 130px;
  color: #3a9bfc;
  border: none;
  position: relative;
  cursor: pointer;
  top: 0;
  -webkit-transition: all 0.2s cubic-bezier(0, 1.23, 1, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 1.23, 1, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 1.23, 1, 1);
  -o-transition: all 0.2s cubic-bezier(0, 1.23, 1, 1);
  transition: all 0.2s cubic-bezier(0, 1.23, 1, 1); }
  .filter-options-btn:hover {
    top: -3px;
    background-color: #ededed; }
  .filter-options-btn:focus {
    outline: none; }
  .filter-options-btn.selected {
    background-color: #3a9bfc; }
    .filter-options-btn.selected .filter-options-item-name {
      color: #FFF; }

.filter-options-item-name {
  font-size: 32px;
  font-size: 2rem;
  font-family: "DINPro";
  font-weight: 300;
  color: #3a9bfc;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.filter-option-item-sub {
  font-size: 14px;
  font-size: 0.875rem;
  display: block; }

.filter-options-tags {
  margin: 40px auto 0;
  width: 90%; }
  .filter-options-tags p {
    display: inline-block; }
  .filter-options-tags .filter-options-tags-items {
    display: inline-block; }
  .filter-options-tags span {
    border: 1px solid #3a9bfc;
    color: #3a9bfc;
    padding: 5px;
    margin: 0 6px;
    border-radius: 3px; }

/*# sourceMappingURL=styles.css.map */
