// form simulation base
.form-simulation-item {
    // @include font-spacing();
    position: relative;
}

.form-simulation-name{
    @include font-size(28px);
    @include font-custom();
}

.form-simulation-value{
    @include font-custom(700);
    @include transition(width .2s ease);
    border: none;
    outline: 0;
    background-color: transparent;
}


// form simulation options

.form-simulation--light{
    color: #FFF;

    .form-simulation-item{
        @include placeholder{
           color: #FFF;
        }
    }

    .form-simulation-value{
        color: #FFF;
    }

    &.form-simulation--block{
        .form-simulation-item {
            border-bottom: 2px solid #FFF;
        }
        .selectric .button{
            &:before {
                border-top-color: #FFF;
            }
        }
    }
    &.form-simulation--inline{
        .form-simulation-value{
            border-bottom: 1px solid #FFF;
        }
        .selectric .button{
            &:before {
                border-top-color: #FFF;
            }
        }
    }
}

.form-simulation--dark{
    color: #000;

    .form-simulation-item{
        @include placeholder{
           color: #000;
        }
    }

    .form-simulation-value{
        color: #000;
    }

    &.form-simulation--block{
        .form-simulation-item {
            border-bottom: 2px solid #000;
        }
        .selectric .button{
            &:before {
                border-top-color: #000;
            }
        }
    }
    &.form-simulation--inline{
        .form-simulation-value{
            border-bottom: 1px solid #000;
        }
        .selectric .button{
            &:before {
                border-top-color: #000;
            }
        }
    }
}

.form-simulation--block{
    .form-simulation-item {
        margin: 36px 0;
    }
    .form-simulation-name{
        position: absolute;
        left: 0;
        bottom: 8px;
    }
    .form-simulation-value{
        @include font-size(50px);
        width: 100%;
        text-align: right;
    }
    .selectric .label{
        @include font-size(50px);
        margin: 0 50px;
    }
    .selectric .button{
        right: 0;
        margin-top: -5px;

        &:before {
            top: 6px;
            left: -5px;
            border: 10px solid transparent;
        }
    }

    .selectric-items{
        li{
            @include font-size(50px);
            padding: 17px 74px;
        }
    }
}

.form-simulation--inline{
    .form-simulation-item {
        display: inline-block;
    }
    .form-simulation-value{
        @include font-size(32px);
        display: inline-block;
        margin-right: 10px
    }

    .selectric-wrapper {
        display: inline-block;
        vertical-align: bottom;
        margin-left: 5px;
    }
    .selectric .label{
        @include font-size(32px);
    }
    .selectric .button{
        right: -35px;
        margin-top: -10px;

        &:before {
            top: 9px;
            left: -1px;
            border: 7px solid transparent;
            border-top-color: #000;
        }
    }
    .selectric-items {
        top: -24px;
        right: -43px;
        width: 200px !important;
        height: 220px !important;

        li {
            @include font-size(32px);
            padding: 5px 45px 5px 20px;
        }
    }
}

.form-simulation--sm{

}

.form-simulation--md{

}

.form-simulation--lg{

}

// selectric

.selectric-wrapper {
    position: relative;
    cursor: pointer
}

.selectric {
    position: relative;
}

.selectric-responsive {
    width: 100%;
}

.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;

    .form-simulation-time {
        position: absolute;
        left: -100%;
    }

    &.selectric-is-native {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;

        .form-simulation-time{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            border: none;
            z-index: 1;
            box-sizing: border-box;
            opacity: 0;
        }
    }
}

.selectric .label {
    @include font-custom(700);
    // @include font-spacing();

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-align: right;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectric .button {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 10px;

  &:before {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: none;
  }
}

.selectric-open {
    z-index: 9999;

    .selectric-items {
        visibility: visible;
        opacity: 1;
    }
}

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.selectric-input {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    overflow: hidden!important;
    clip: rect(0, 0, 0, 0)!important;
    margin: 0!important;
    padding: 0!important;
    width: 1px!important;
    height: 1px!important;
    outline: none!important;
    border: none!important;
    *font: 0/0 a!important;
    background: none!important
}

.selectric-temp-show {
    position: absolute!important;
    visibility: hidden!important;
    display: block!important
}

.selectric-items {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -19px;
    right: -31px;
    background: #fff;
    z-index: 0;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    width: auto!important;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

    .selectric-scroll {
        height: 100%;
        overflow: auto
    }

    .disabled {
        filter: alpha(opacity=50);
        opacity: 0.5;
        cursor: default!important;
        background: none!important;
        color: #666!important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .selectric-group{
      .selectric-group-label {
          font-weight: bold;
          padding-left: 10px;
          cursor: default;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background: none;
          color: #444
      }

      &.disabled li {
          filter: alpha(opacity=100);
          opacity: 1
      }

      li {
          padding-left: 25px
      }
    }
}

.selectric-above .selectric-items {
    top: auto;
    bottom: -20%
}

.selectric-items ul,
.selectric-items li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: 600;
    line-height: 60px;
    min-height: 60px
}

.selectric-items ul {
    margin: 10px 0
}

.selectric-items li {
    display: block;
    color: #000;
    cursor: pointer;

    &.selected {
        color: #000
    }

    &.highlighted {
        color: #000
    }

    &:hover {
        color: #4590db
    }
}
