// colour variables

$azul-fixa: #3399FF;
$verde-variavel: #5ED5A3;
$rosa: #DB459D;
$roxo: #902FEB;
$baixo: #00FFF6;
$alto: #F0BE48;
$textos: #000000;
$textos-alt: #888888;
$linhas: #CCCCCC;
$fundo-cinza: #F0F0F0;
$linha-resultado: #e6e6e6;


// font variables

$font-base: 'DINPro';
