.navbar{
  padding: 30px 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}

// navbar fixed on top
.navbar--fixed{
  position: fixed;
}

// navbar with dark background
.navbar--dark{
  background-color: black;

  .navbar-nav-link{
    color: #a9a9a9;

    &:hover{
      color: #FFF;
    }
  }
  .navbar-link--animated{
    &:before{
      border-bottom: 2px solid #a9a9a9;
    }
    &:hover{
      &:before{
        border-bottom: 2px solid #fff;
      }
    }
  }

}

// navbar with transparent background
.navbar--light{
  background-color: transparent;

  .navbar-nav-link{
    color: #FFF;

    &:hover{
      color: #FFF;
    }
  }
  .navbar-link--animated{
    &:before{
      border-bottom: 2px solid #FFF;
    }
    &:hover{
      &:before{
        border-bottom: 2px solid #FFF;
      }
    }
  }

}

// items inside navbar
.navbar-brand{
  width: 20%;
}

.navbar-nav{
  width: 60%;
  text-align: center;
}
.navbar-actions{
  width: 20%;
}


.navbar-nav-item{
  display: inline-block;
  padding: 0 50px;
}

.navbar-link--animated{
  &:before{
    content: '';
    width: 10px;
    height: 100%;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: -13px;
    @include transition(all .2s ease);
  }

  &:hover{
    &:before{
      width: 100%;
      left: -1px;
    }
  }

}

.navbar-nav-link{
  @include font-size(14px);
  @include font-custom(500);
  @include font-spacing(2);
  text-decoration: none;
  position: relative;

  @include transition(all .2s ease);
}

.navbar-actions{
  text-align: right;
}
.navbar-actions-link{
  background: url('../images/temp/icons.png') no-repeat scroll 0 0 transparent;
  width: 32px;
  height: 24px;
  display: block;
  background-size: 100%;
}

.navbar-actions-search{
  background-position: center 0;
}

.navbar-actions-message{
  background-position: center -26px;
}

.navbar-actions-user{
  background-position: center -52px;
}


// nav inline

.nav-inline-item{
  display: inline-block;
  margin-left: 20px;
}

.nav-inline-link{
  color: #FFF;
  text-decoration: none;
}
