// this font is only used for icons

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?uulmuy');
    src: url('../fonts/icomoon/icomoon.eot?uulmuy#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?uulmuy') format('truetype'), url('../fonts/icomoon/icomoon.woff?uulmuy') format('woff'), url('../fonts/icomoon/icomoon.svg?uulmuy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    // use !important to prevent issues with browser extensions that change fonts
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    // better font rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-article:before {
    content: "\e90c";
}

.icon-play:before {
    content: "\e90b";
}

.icon-arrow-full:before {
    content: "\e902";
}

.icon-facebook:before {
    content: "\e903";
}

.icon-google:before {
    content: "\e904";
}

.icon-hamburger:before {
    content: "\e905";
}

.icon-profile:before {
    content: "\e906";
}

.icon-radar:before {
    content: "\e907";
}

.icon-search:before {
    content: "\e908";
}

.icon-twitter:before {
    content: "\e909";
}

.icon-youtube:before {
    content: "\e90a";
}

.icon-graph:before {
    content: "\e901";
}

.icon-arrow:before {
    content: "\e900";
}
