.footer-main{
    width: 100%;
    background: #000;
    position: relative;
    padding: 50px 0;
    color: #FFF;
    @include font-size (13px);
}
.footer-container{
  padding: 30px 0;
}
.footer-container--border{
  border-bottom: 1px solid #4d4d4d;
}
.footer-address-link{
  color: #FFF;
  text-decoration: none;
}
