.filter-results {
  width: 100%;
  display: inline-block;

  .filter-results-head {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;

    span {
      font-weight: bold;
      color: $textos-alt;
      @include font-size(15px);
    }
  }

  .filter-results-item {
    border-bottom: 1px solid $linha-resultado;
    padding: 60px 0px;
    width: 95%;
    margin: 0 auto;

    &.selected {
      width: 100%;
      -webkit-box-shadow: 3px 7px 27px 3px rgba(35, 161, 248, 0.15);
      -moz-box-shadow: 3px 7px 27px 3px rgba(35, 161, 248, 0.15);
      box-shadow: 3px 7px 27px 3px rgba(35, 161, 248, 0.15);
      border-bottom: none;
      padding: 60px 2.5%;

      + .filter-results-item {
        border-top: 1px solid $linha-resultado;
        margin-top: 50px;
      }
    }
  }

  .filter-results-head-box {
    padding: 10px 15px;
    box-sizing: border-box;
  }

  .filter-results-item-box {
    padding: 0px 15px;
    box-sizing: border-box;
    color: $textos;
    font-weight: 100;
    text-align: left;
    @include font-size(32px);
  }

  .filter-results-head-box--logo,
  .filter-results-item-box--logo {
    width: 10%;
    display: inline-block;
  }

  .filter-results-head-box--investiment,
  .filter-results-item-box--investiment {
    width: 28%;
    display: inline-block;
  }

  .filter-results-item-box--investiment {
    font-weight: bold;
    color: $azul-fixa;
  }

  .filter-results-head-box--duration,
  .filter-results-item-box--duration {
    width: 10%;
    display: inline-block;
  }

  .filter-results-head-box--profitability,
  .filter-results-item-box--profitability {
    width: 20%;
    display: inline-block;
  }

  .filter-results-head-box--balance,
  .filter-results-item-box--balance {
    width: 20%;
    display: inline-block;
  }

  .filter-results-head-box--actions,
  .filter-results-item-box--actions {
    width: 10%;
    display: inline-block;
  }
}
