// buttons
.btn{
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
  }


  &:hover{
    &:before {
        opacity: 1;
    }
    .btn-icon{
      right: -10px;
    }
  }
  .btn-text{
    z-index: 2;
    position: relative;
  }

  .btn-icon{
    font-size: 13px;
    margin-left: 19px;
    z-index: 2;
    right: 0;
    position: relative;
    vertical-align: -1px;
    -webkit-transition: right .4s ease;
    transition: right .4s ease;
  }
}

.btn--border{
  border-width: 2px;
  border-style: solid;

  &:before{
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
  }
}
.btn--lg{
  padding: 18px 50px;
  @include font-size(14px);
  font-weight: 500;
}

.btn--dark{
  background: transparent;
  color: #000;
  border-color: #000;

  &:before{
    background: #000;
  }

  &:hover{
    .btn-text{
      color: #FFF;
    }
  }
}


.btn--blue{
  background: transparent;
  color: #64bdfa;
  border-color: #64bdfa;

  &:before{
    background: #64bdfa;
  }

  &:hover{
    .btn-text{
      color: #FFF;
    }
  }
}


.btn--light{
  background: transparent;
  color: #FFF;
  border-color: #FFF;

  &:before{
    background: #fff;
  }

  &:hover{
    .btn-text{
      color: #000;
    }
  }
}

.btn--primary{
  background: #3399ff;
  color: #FFF;
  border-color: #3399ff;

  &:before{
    background: #FFF;
  }

  &:hover{
    .btn-text{
      color: #3399ff;
    }
  }
}


.btn--color{
  @include linear-gradient(#39f, 320, #39f, 0%, #60e198, 100%);
  color: #FFF;
  border: none;

  &:before{
    background: #000;
  }

  &:hover{
    .btn-text{
      color: #FFF;
    }
  }
}


.btn--color--blue{
  @include linear-gradient(#37a3ff, 130, #39f, 0%, #4fdeff, 100%);
  color: #FFF;
  border: none;

  &:before{
    // background: #000;
  }

  &:hover{
    @include linear-gradient(#37a3ff, 130, #39f, 0%, #4fdeff, 100%);
    // .btn-text{
    //   color: #FFF;
    // }
  }
}
